/* resset css */
*
{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html
{
  scroll-behavior: smooth ;
font-family: Arial, Helvetica, sans-serif;

}

/*
1. tu ngoai vao trrong 
2. tu tren xuong duoi
3. tu tong quan den chi tiet  
 */
/*
1. vi tri 
2. kich thuoc (width,height)
3. mau sac 
4. kieu dang (kieu chu , hinh tron , vuong,.....  )

 */
 /* common */
 
 .text-white{
   color: darkorange !important;
 }
 .clear { /* Phần tử được đặt bên dưới cả hai phần tử nổi bên trái và phải */ clear: both; }

 .rol{
  margin-left: -8px;
  margin-right: -8px;

 }

 .col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;

 }
 .col-third{
  width: 33.33333%;
 }
 .col-half{
  width: 50%;
 }
.text-content{
  text-align: center  !important;
}
.col-ford{
  width: calc(100%/4)
}
.col-full{
  width: 100%;
}
.rol::after{
  content: "";
  display: block;
  clear: both;
}
.magrin-top-8px {
  margin-top: 8px !important;
}
.magrin-top-16px {
  margin-top: 16px !important;
}
.magrin-top-32px {
  margin-top: 32px !important;
}
/* main */
#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1;
    

           
}
#nav  {
  display: inline-block;
}

#nav  li {
  display:inline-block;
   position: relative;
}

#nav li a {
  
   text-decoration: none;
   line-height: 46px;
   padding:0 24px;
}

#nav li:hover .sudnav {
  display: block;
}

#nav >li >a{
  color:#fff;
  text-transform: uppercase;
}

#nav .sudnav li:hover ,
#nav > li:hover > a{
color:#000;
background-color: #ccc;
display:block;
}

#nav .sudnav 
{
display:none;
min-width: 140px;
position: absolute;
background-color: #fff;
box-shadow: 0 0 10px  rgba(79, 73, 73, 0.3);

}
#nav .sudnav a{
  color: #000;
  padding: 0 12px;
  height: 38px;

}
#nav .fa-solid{
  font-size: 10px;
}
#header .mobile-menu-btn,
#header .seach-btn{
  float:right;
  cursor: pointer;

} 
#header .mobile-menu-btn{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
#header .mobile-menu-btn:hover {
  background-color:  pink;
}

#header .seach-btn:hover{
  
  background-color: #f44336;
  
}
#header .mobile-menu-btn:hover .menuicon{
color: #000;
}
#header .menuicon,
#header .seach-icons{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 21px;  
}

#slider {
  position: relative;
  /* bi loi 46px thanh 28 px */
  margin-top: 28px;
  padding-top: 50%; 
  background:url('/assets/img/slider/6d1dae7e2fc7088d21e00c3d9b93cf82.png') top center / cover no-repeat ;

}

#slider .text-content{
position: absolute;
color: #2d19e1;
bottom: 48px;
left: 50%;
transform: translateX(-50%);
text-align: center;



}
#slider .text-heading{
 font-weight: 500;
 font-size: 24px;

}
#slider .text-descriptoin{
font-size: 15px;
margin-top: 25px;

}

#content {
  background-color: pink;

}
#content .content-section{
  width: 800px;
  max-width: 100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;



}
#content .section-subheading{

text-align: center;
font-size: 15px;
margin-top: 25px;
font-style: italic;
opacity: 0.5;

}
#content .about-content{
margin-top: 25px;
text-align:justify ;
line-height: 1.5 ;

}

#content .menbers-list{
margin-top: 32px;
overflow: hidden;

}


#content .menber-name{
font-size: 15px;

}
#content .nember-avata{
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;

}
/* tour section */
.tour-section
{
background-color: #000;
}
.tickets-list{
  list-style: none;
  background-color: pink;
  margin-top: 40px;

}

.tickets-list li{
  color: #757575;
font-size: 15px;
padding: 11px 16px;
border-bottom: 1px solid #997f7f;


}
.tickets-list .sold-out{
background-color: #f44336;
color: #fff;
padding: 3px 4px ;
margin-left: 16px;
}
.tickets-list .STT{
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: pink;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;

}
.places-list{
  margin-top:16px;
 

}
.places-item{

  width: 33.33333%;
 
}
.place-img{
 width: 100%;
 display: block;


}
.place-img:hover{
  opacity: 0.6;
}
.places-body{
background-color: pink;
padding: 16px;
font-size: 15px;

}
.places-heading{
  font-size: 15px;
  font-weight: 600;
}
.places-time{
margin-top: 15px;
color:#757575;
}
.places-desc{
  margin-top: 15px;
}
.places-buy-btn{
  line-height: 1.5 ;
  color: pink;
  text-decoration: none;
  background-color: #000;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;

}
.places-buy-btn:hover{
  color:#000 ;
  background-color: #ccc;
 
}

.modal {
  /* overlay */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.open{
  display: flex;
}
.modal-container{
  width: 900px;
  background-color: #fff;
  min-height: 200px;
  max-width: calc(100%-32px);
  position: relative;
  animation: modalFaceIn ease 0.7s;
}
.modal-header{
  background-color: pink;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-header-bag{
  margin-right: 16px;
}
.modal-close{
  position: absolute;
  right: 0;
  top:0;
  color: #000;
  padding: 12px;
  cursor: pointer;
  
}
.modal-close:hover{
  opacity: 0.7;
}
.modal-body{
  padding: 16px;
 
}
.modal-label{
  display: block;
  font-size: 15px;
  margin-top: 12px;

}
.modal-input{
  border: 1px solid #d21b8f;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}
#buy-Tickets{
  background-color: pink;
  border: none;
  width: 100%;
  font-size: 15px;
  text-transform:uppercase;
  padding: 18px;
  cursor: pointer;
}
#buy-Tickets:hover{

  opacity: 0.7;
}
.modal-footer{
  padding: 16px;
  text-align: right;

}
.modal-footer a {
  color: pink;
}
@keyframes modalFaceIn{
  from{
    opacity: 0;
    transform: translateY(-150px);

  }to{
    opacity: 1;
    transform: translateY(0);

  }
}
/* contact-from */
.contact-content{
  margin-top: 48px;
}
.contact-info{
  font-size: 18px ;
  line-height: 1.5;

}
.contact-info i[class*="fa-solid"]{
  width: 30px;
}
.contact-form{
  font-size: 15px;
}
.contact-form .from-control{
  padding: 10px;
  border: 1px solid #000;
  width: 100%;
}
.contact-form .type-send{
  background-color:#000;
  color: pink;
  border: 1px solid #d21b8f;
  font-size: 15px;
  float: right;
  padding: 10px 16px ;
  cursor:pointer;



}
.contact-form .type-send:hover{
  background-color: #997f7f;
  opacity: 0.6;
}


.map-section .miii{
  width: 100%;
  height: 100%;
} 
/* footer section */
div#\ footer {
  padding: 64px 16px;
  text-align: center;
}
div#\ footer .socials-list{
  font-size: 24px;
 
}
div#\ footer .socials-list  a {
  color: rgba(0, 0, 0, 0.7);
}
div#\ footer .socials-list a:hover{
  color: rgba(0, 0, 0, 0.4);
}
div#\ footer  .copyright{
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.7);
}
/* responsive */
/* table mobile */
@media (max-width:1023px) {
  .places-buy-btn {
  padding: 15px 16px;
}
.contact-form .from-control{
  padding: 15px;
}
div#\ footer .socials-list{
  font-size: 48px;
  
}
div#\ footer .socials-list a {
  margin: 0 8px;
}
div#\ footer .copyright { 
   padding: 12px 0 ;
  display: inline-block;
} 

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .contact-info {
    line-height: 1.9;
  }
  
}

}
/* mobile */
@media (max-width:740px) {
  #nav {
    display: block;
    
}
#header{
  overflow: hidden;
}
  #nav  li {
    
    display:block;
     
  }
  #nav  li a {
    padding: 1px 24px;
  }
  #nav > li:first-child{
    display: inline-block;
  }
  #nav .sudnav{
    position: initial;
    background-color: #333;
  }
  #nav .sudnav a {
    color: #fff;
    padding: 5px 41px;
  }

  #header .seach-btn{
    display: none;
  }
  #header .mobile-menu-btn{
  display: block;
  }
  #content .member-items {
    margin-top: 30px;
  
    width: 100%;

  }
  #content .nember-avata{
    width: 60%;
  }
  .s-col-full{
    width: 100% !important;
  }
.contact-form{
  margin-top: 16px;
}
.s-mt-8{
  margin-top: 8px !important;
}
 .s-full-width{
  width: 100% !important;
 }

 .menber-name{
 
 text-align: center;
 }
 #content .nember-avata{
 
  margin: auto auto;

 }

}
